<!-- https://ejs.co/#docs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- heading -->
    <!-- <%= //Outputs the value into the template (HTML escaped) %> -->
    <h1>Hello world <%= 4+ 1 %>!</h1>
    <!-- desc -->
    <p>
      <%= 'hello world'.toUpperCase() %> Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Assumenda nesciunt doloremque, adipisci laborum dolores
      tempore reprehenderit, eum ipsa rerum voluptates pariatur inventore
      obcaecati!
    </p>
  </body>
</html>
